.scene {
    height: 100%;
    width: 100%;
}

.search-box {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 10%;
    box-shadow: 0 0 20pt gray;
    border-radius: 10pt;
    padding: 2em;
    background: linear-gradient(135deg, #fc00ff , #00dbde)
}

.search-box .middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%) translateZ(2em);
}

.search-box .inner {
    margin: auto;
}

.search-box .title {
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding: 0;
    margin: 0 0 0.2em 0;
    display: inline-block;
    text-shadow: 0 0 3em black;
}

.search-box button {
    font-family: "Work Sans", sans-serif;
}